# VITE_SUPABASE_URL=https://your-project-id.supabase.co
# VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# VITE_USE_BACKEND_OTP=true
# VITE_API_BASE_URL=http://localhost:5000/api

# # Fixed merchant UPI ID for demo payments (production: use Razorpay/PhonePe/Paytm)
# VITE_MERCHANT_UPI_ID=your-merchant-upi-id@bank

VITE_SUPABASE_URL=https://crhhbskivkjiszjjwmdc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_NPgI3V2L8tznWOs3GQJMKg_EL6TUE8t

VITE_SUPABASE_URL=https://keughbrultxbkweozbgm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3_dK24Ms1JbYZmK8uFbyJA_TisXv5LV

VITE_USE_BACKEND_OTP=true
VITE_API_BASE_URL=https://agromitra-el79.onrender.com/api

# Fixed merchant UPI ID for demo payments (production: use Razorpay/PhonePe/Paytm)
VITE_MERCHANT_UPI_ID=abhaypandey092004-2@oksbi
